# REDUNDANT FILES

.idea/
.vscode/
*.iml

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.class

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# TARGETS
Système d'Exploitation Centralisés/CM/Exercices/bin
Système d'Exploitation Centralisés/TP/TP1/bin/
Système d'Exploitation Centralisés/TP/TP2/bin/
Système d'Exploitation Centralisés/TP/TP2/TinyShell/bin/
Système d'Exploitation Centralisés/TP/TP3/bin/
Réseaux/TP/TP2/bin/
Réseaux/TP/TP3/bin/
Système d'Exploitation Centralisés/TP/TP4/bin